# Android / Gradle build outputs
*.iml
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# Gradle caches & wrapper binaries
.gradle/
gradle/wrapper/gradle-wrapper.jar

# Local configuration (machine-specific)
local.properties

# IDE files
/.idea/
*.iws
*.ipr
.DS_Store
Thumbs.db

# Keystore / Signing secrets
*.jks
*.keystore
release/
signing.properties
keystore.properties
